*	{
	foreground:		#ffffff;
	background:		#000000;
}

#window	{
	location:		center;
	anchor:			north;
}

#window box	{
	border:			1px;
}

#window mainbox listview element selected {
	foreground:		#000000;
	background:		#ffffff;
}
